@font-face {
  font-family: "Sora";
  src: local("Sora"),
    url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  margin: 0;
}
body {
  font-family: "Sora";
  font-size: 0.9rem;
  margin: 0;
  height: 100%;
  width: 100%;
}
