#nav__wrapper {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  transition: 0.5s;
}

#nav__item__resume {
  outline: 2px solid rgb(72, 38, 115, 0.8);
  border-radius: 1px;
  color: rgb(72, 38, 115, 1);
}

#nav__logo {
  transition: 0.4s;
  :hover {
    filter: brightness(1.5);
  }
}
