#nav__wrapper {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  transition: 0.5s;
}

#nav__item__resume {
  outline: 2px solid rgb(72, 38, 115, 0.8);
  border-radius: 1px;
  color: rgb(72, 38, 115, 1);
}

#nav__logo {
  transition: 1s;

  :hover {
    filter: brightness(1.5);
    animation: bounce 1s infinite 0s both;
    animation-iteration-count: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0, 0);
  }
  100% {
    transform: translateY(-2px);
  }
}
